@import "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #1c1c1c;
  color: var(--foreground);
  font-family: "poppins", sans-serif !important;
}

[data-testid="rk-connect-button"] {
  /* everything inside the modal */
  color: black !important;
  background: #c8a2ff !important;
  font-size: 12px !important;
  border-radius: 30px !important;
  font-weight: 400 !important;
}

.swiper-pagination-bullet {
  background: red !important;
  transform: translateY(10px);
  border-radius: 0px !important;
  width: 16px !important;
  height: 4px !important;
  margin-top: 500px !important;
}

html {
  -webkit-text-size-adjust: 100%;
}
input,
select,
textarea,
button {
  font-size: 16px;
}

/* Hide scrollbars but keep scrolling functional */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;     /* Firefox */
}
